/* == Breadcrumb == */
.corporato.breadcrumb {
  vertical-align: middle;
  font-family: 'Oswald';
  font-weight: 400;
  margin: 0;
  padding:1em;
  background-color: #EFF2F8;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
  border-top:1px solid #F5F7FB;
  border-bottom:1px solid #C8CFDC;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.05);
}
.corporato.breadcrumb:first-child {
  margin-top: 0;
  white-space: nowrap;
}
.corporato.breadcrumb:last-child {
  margin-bottom: 0;
}
/* == Content == */
.corporato.breadcrumb .divider {
  display: inline-block;
  opacity: 0.5;
  margin: 0 .25em;
  color: rgba(0,0,0,0.3);
}
.corporato.breadcrumb .divider:before {
 content: "/";
 font-size: .85em;
 font-weight: 300;
}
.corporato.breadcrumb a.section {
  cursor: pointer;
}
.corporato.breadcrumb .section {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.corporato.breadcrumb.segment {
  display: inline-block;
  padding: .5em 1em;
}
.corporato.breadcrumb .active.section {
  font-weight: 400;
}
/* == Variations == */
.corporato.small.breadcrumb {
  font-size: .75em;
}
.corporato.large.breadcrumb {
  font-size: 1.1em;
}
.corporato.huge.breadcrumb {
  font-size: 1.3em;
}
