/* == Breadcrumb == */
.corporato.breadcrumb {
  display: inline-block;
  vertical-align: middle;
  margin: .25em 0 0;
  font-family:"Roboto",sans-serif;
  font-size:.8em
}
.corporato.breadcrumb:first-child {
  margin-top: 0;
  white-space: nowrap;
}
.corporato.breadcrumb:last-child {
  margin-bottom: 0;
}
/* == Content == */
.corporato.breadcrumb .divider {
  display: inline-block;
  opacity: 0.5;
  margin: 0 .4em;
  font-size: 1em;
  color:rgba(0, 0, 0, 0.5);
}
.corporato.breadcrumb .divider:before {
 content: "/"
}
.corporato.breadcrumb a.section {
  cursor: pointer;
  color:rgba(0, 0, 0, 0.5);
}
.corporato.breadcrumb .section {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.corporato.breadcrumb.segment {
  display: inline-block;
  padding: .5em 1em;
}
.corporato.breadcrumb .active.section {
  color:rgba(0, 0, 0, 0.85);
}
/* == Variations == */
.corporato.small.breadcrumb {
  font-size: .75em;
}
.corporato.large.breadcrumb {
  font-size: 1.1em;
}
.corporato.huge.breadcrumb {
  font-size: 1.3em;
}
