/* == Header == */
.corporato.header {
  border: none;
  margin: 1rem 0 1rem;
  padding: 0em;
  font-size: 1.1em;
  font-family:"Roboto",sans-serif;
  line-height: 1.1;
}
.corporato.header .sub.header {
  font-size: 1rem;
  font-weight: normal;
  margin: 0em;
  padding: 0em;
  line-height: 1.2;
}
.corporato.header .icon {
  display: table-cell;
  vertical-align: middle;
  padding-right: 0.5em;
}
.corporato.header .icon:only-child {
  display: inline-block;
  vertical-align: baseline;
}
.corporato.header .content {
  display: inline-block;
  vertical-align: top;
}
.corporato.header .icon + .content {
  padding-left: 0.5em;
  display: table-cell;
}
.corporato.header:first-child {
  margin-top: 0em;
}
.corporato.header:last-child {
  margin-bottom: 0em;
}
.corporato.header + p {
  margin-top: 0em;
}
/* == Page Headings == */
h1.corporato.header,
h1 {
  min-height: 1rem;
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: 600;
  color:#982420;
}
h2.corporato.header,
h2 {
  line-height: 1.33;
  font-weight: 300;
  color: #982420;
  font-size: 2em;
}
h3.corporato.header,
h3 {
  line-height: 1.33;
  font-size: 1.55rem;
  font-weight: 600;
}
h4.corporato.header {
  line-height: 1.33;
  font-size: 1.1rem;
  margin: 1em 0em 1rem;
}

h4 {
	color:#999
}

h5.corporato.header {
  line-height: 1.2;
  font-size: 1rem;
}
/* == Content Headers == */
.corporato.huge.header {
  min-height: 1em;
  font-size: 2em;
}
.corporato.large.header {
  font-size: 1.75em;
}
.corporato.medium.header {
  font-size: 1.33em;
}
.corporato.small.header {
  font-size: 1.1em;
}
.corporato.tiny.header {
  font-size: 1em;
}
/* == Types == */
.corporato.icon.header {
  display: inline-block;
  text-align: center;
}
.corporato.icon.header .icon {
  float: none;
  display: block;
  font-size: 3em;
  margin: 0em auto 0.2em;
  padding: 0em;
}
.corporato.icon.header .content {
  display: block;
}
.corporato.icon.header .circular.icon,
.corporato.icon.header .square.icon {
  font-size: 2em;
}
.corporato.block.icon.header .icon {
  margin-bottom: 0em;
}
.corporato.icon.header.aligned {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.corporato.disabled.header {
  opacity: 0.5;
}
/* == Variations == */
.corporato.info.header {
  color: #5795AF;
}
.corporato.black.header {
  color: #5C6166;
}
.corporato.positive.header,
.corporato.success.header  {
  color: #B2D280;
}
.corporato.warning.header {
  color: #EDAA10;
}
.corporato.danger.header,
.corporato.negative.header {
  color: #A26161;
}
.corporato.purple.header {
  color: #7A6591;
}
.corporato.teal.header {
  color: #3CC9CA;
}
.corporato.info.dividing.header {
  border-bottom: 3px solid #5795AF;
}
.corporato.warning.dividing.header {
  border-bottom: 3px solid #EDAA10;
}
.corporato.black.dividing.header {
  border-bottom: 3px solid #5C6166;
}
.corporato.positive.dividing.header {
  border-bottom: 3px solid #B2D280;
}
.corporato.danger.dividing.header {
  border-bottom: 3px solid #A26161;
}
.corporato.purple.dividing.header {
  border-bottom: 3px solid #7A6591;
}
.corporato.teal.dividing.header {
  border-bottom: 3px solid #3CC9CA;
}
/* == Inverted == */
.corporato.inverted.header {
  color: #FFFFFF;
}
.corporato.inverted.header .sub.header {
  color: rgba(255, 255, 255, 0.85);
}
.corporato.inverted.black.header {
  background-color: #5C6166;
  color: #FFFFFF;
}
.corporato.inverted.info.header {
  background-color: #5795AF;
  color: #FFFFFF;
}
.corporato.inverted.positive.header {
  background-color: #B2D280;
  color: #FFFFFF;
}
.corporato.inverted.danger.header {
  background-color: #A26161;
  color: #FFFFFF;
}
.corporato.inverted.warning.header {
  background-color: #EDAA10;
  color: #FFFFFF;
}
.corporato.inverted.purple.header {
  background-color: #7A6591;
  color: #FFFFFF;
}
.corporato.inverted.teal.header {
  background-color: #3CC9CA;
  color: #FFFFFF;
}
.corporato.inverted.block.header {
  border-bottom: none;
}
/* == Aligned == */

.corporato.left.aligned.header {
  text-align: left;
}
.corporato.right.aligned.header {
  text-align: right;
}
.corporato.center.aligned.header {
  text-align: center;
}
.corporato.justified.header {
  text-align: justify;
}
.corporato.justified.header:after {
  display: inline-block;
  content: '';
  width: 100%;
}
/* == Floated == */
.corporato.floated.header,
.corporato.left.floated.header {
  float: left;
  margin-top: 0em;
  margin-right: 0.5em;
}
.corporato.right.floated.header {
  float: right;
  margin-top: 0em;
  margin-left: 0.5em;
}
/* == Fitted == */
.corporato.fitted.header {
  margin: 0em;
}
/* == Dividing == */
.corporato.dividing.header {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.corporato.dividing.header .sub.header {
  padding-bottom: 0.5em;
}
.corporato.dividing.header .icon {
  margin-bottom: 0.2em;
}
.corporato.block.header {
  padding: 0.5em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 0 #fff;
}
/* == Split == */
.corporato.split.header {
  overflow: hidden;
  text-align: center;
}
.corporato.split.header span:before {
  margin-right: 0.5em;
  right: 100%;
}
.corporato.split.header span:before,
.corporato.split.header span:after {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  content: "";
  height: 0.5em;
  position: absolute;
  top: 50%;
  width: 200em;
}
.corporato.split.header span:after {
  left: 100%;
  margin-left: 0.5em;
}
.corporato.split.header span {
  position: relative;
}
.corporato.split.header.right {
  text-align: left;
}
/* == Double == */
.corporato.double.header {
  overflow: hidden;
  border-bottom: 1px solid #F4BF1E;
  margin-bottom:1em;
}
.corporato.double.header span {
  display:inline-block;
  border-bottom: 3px solid #F4BF1E;
  padding-bottom:.25em;
  
}
.corporato.double.inverted.header {
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
.corporato.double.header span {
  display:inline-block;
  border-bottom: 2px solid #F4BF1E;
  padding-bottom:.25em;
  
}
/* == Attached == */
.corporato.attached.header {
  background-color: #E0E0E0;
  padding: 0.5em 1rem;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.corporato.top.attached.header {
  margin-bottom: 0em;
  border-radius: 0.3125em 0.3125em 0em 0em;
}
.corporato.bottom.attached.header {
  margin-top: 0em;
  border-radius: 0em 0em 0.3125em 0.3125em;
}
