html,
body {
  font-size: 15px;
  height: 100%;
  margin: 0
}
body {
	font-family: "Roboto",sans-serif!important;
  	
  	padding: 0px;
    margin: 0 0 50px;
  	color: #666666;
  	text-rendering: optimizeLegibility;
  	font-weight: 300;
  	background-color: #f8f8f8;
    min-height: 100%;
    margin-bottom: -50px
    /* equal to footer height */
}

.page-container {
  max-width: 73.33333em;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #f4f4f4;
  min-height: 100%
}

.corporato-grid.crumbs {
  max-width: 73.33333em;
  padding: 0
}

footer {
  text-align: center;
  color: #fff;
  font-weight: 300;
  padding: 2em 0 3em;
  background:#545454;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}


.names {
	display:inline-block;
	width:70%;
	vertical-align:middle;
}

.stat-desc {
  font-size: .8em
}

.corporato.message.basic.itemheader {
	padding:2em 0 1em
}

.corporato.description p {
  font-size: 2em;
  line-height: 1.3em
}

.av {
	display:inline-block;
	width:25%
}

.av-offline {
	width:50%
}

.lefties {
	text-align:left
}

.page-container-responsive {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
	width:1080px
}

.socialmedia {
	border-top:1px solid #f8f8f8;
	margin-top:30px;
	padding:40px
}


.profile-avatar {
	border-radius: 50%;
	border:2px solid #eaeaea;
	height:50px
}

.avatar-circle {
  width:50px;
  height: 50px;
  border:2px solid #eaeaea;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-left:-50px!important;
  text-align:center
}

.initials {
  position: relative;
  top: 13px; /* 25% of parent */
  font-size: 25px; /* 50% of parent */
  line-height: 20px; /* 50% of parent */
  color: #09F;
  font-weight: bold;
}

@mixin avatar($size) {
    width: $size;
    height: $size;
    background-color: $brand-special;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    .initials {
      position: relative;
      top: $size*0.25;
      font-size: $size*0.5;
      line-height: $size*0.5;
      color: #fff;
      font-family: "Courier New", monospace;
      font-weight: bold;
    }
}

.avatar-circle      { @include avatar(50px); }
.avatar-circle-sm   { @include avatar(25px); }
.avatar-circle-lg   { @include avatar(100px); }

.padded20 {
	padding:20px 0
}

.lightfont {
	font-weight:300
}

.totalcost {
	padding-top:2em
}

  
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  height:auto;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
}  
  

.smallest {
	font-size:.6em
}

.small {
	font-size:1rem
}

.small-title {
	font-weight:700;
	font-size:14px;
	line-height:13px;
	padding-top:5px
}

.small-details {
	font-size:13px;
	padding-top:5px
}

.small-button {
	padding-top:20px
}

.small-stat {
	font-size:12px
}

.huge {
	font-size:8em;
	color:#982420
}

.stat-blurb {
	padding-top:5em
}

.mapsection {
	padding:1em;
	border:1px solid #eaeaea;
	background:#fff
}

.minibox {
	width:600px;
	margin:0 auto;
	text-align:left
}

.middled {
	margin:2em auto
}

.padded-60 {
  padding: 60px 0
}

.padded-30 {
  padding: 30px 0
}

.corporato.tabular.segment aside.nopadding {
	padding:10px 0!important
}

aside img {
	
}

a,
a.inverted,
a.white {
  cursor: pointer;
  color: #982420;
  text-decoration: none;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  outline: none
}
a.inverted {
  color: #666666;
}
a.white {
  color: #fff;
}
a:hover,
a.hover,
a:focus {
  color: #982420;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .35s ease;
  transition: all .55s ease;
  outline: none;
  text-decoration: none
}
a.inverted:hover,
a.inverted:focus {
  color: #F64243;
}
a.white:hover,
a.white:focus {
  color: rgba(0,0,0,0.4);
}

a.item.menu {
  color: #fff
}

.corporato.horizontal.list > .item.login {
  color: #fff;
  font-size: 12px
}

h1,
h2,
h2.h3.h4,
h3,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  margin: 1rem 0 0rem;
}
p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
.corporato-content {
  padding: 1em;
}
.corporato-content-full {
  padding: 2em 1em
}
.corporato-content-half {
  padding: .5em 1em;
}
#bgwrap {
  padding: 2em;
  background-color: #FFFFFF
}
.main-wrap {
  background-color: #FFFFFF;
  border-radius: .5em;
  padding: 1em;
  margin-top: 2em;
}
header {
  background:#982420;
  padding: 5px 0
}

.corporato.tabular.segment .corporato.cell.logoset {
  width: 20%
}

.topmenuwrap {
	padding:.2em 2em;
	background:#fff;
	display:block;
	text-align:right
}

.mainmenuwrap {
	padding:.8em 2em;
	background:#F39D52;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	display:block;
	text-align:left
}

.mainmenuwrap a.item {
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	font-size:14px!important;
	text-transform:uppercase
}

#topmenu {
  font-family:"Roboto",sans-serif;
  background:transparent!important
}

#topmenu .item {
	font-size:12px
}

.slidersection {
	position:relative;
	height:410px;
	display:block
}

.sliderbox {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.soverlay{
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 10;
  	background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.slidertext {
	margin:0 auto;
    position: relative;
    z-index: 12;
    padding-top: 108px;  
}

.slidertext h1 {
	color:#fff;
	text-shadow: 0 0 15px #444;
	text-align:center;
	font-weight: 600;
    font-size: 34px;
}

.slidertext h4 {
	color:#fff;
	text-shadow: 0 0 15px #444;
	text-align:center;
	font-size:16px;
}

#searchbar {
	z-index: 12;
	margin:0 auto;
	position: relative;
}

.socialmediatop {
	padding-right:2em
}

.fa-facebook-square {
	color:#3b5998
}

.fa-twitter-square {
	color:#1dcaff
}

.fa-pinterest-square {
	color:#cb2027
}

.bordered {
	border:1px solid #eaeaea
}

.crumbs {
  padding:1em 0;
}

#livesearch {
	width:100%;
}

.formelements {
	display:inline-block
}


/* == Menu Navigation == */
.sm,
.sm ul,
.sm li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: normal;
  direction: ltr;
}
ul.sm li {
  position: relative;
}
ul.sm a {
  position: relative;
  display: block;
}
ul.sm a.disabled {
  cursor: default;
}
ul.sm ul {
  position: absolute;
  top: -999999px;
  left: -800px;
  width: 100px;
}
ul.sm li {
  float: left;
}
ul.sm-rtl {
  direction: rtl;
}
ul.sm-rtl li {
  float: right;
}
ul.sm ul li,
ul.sm-vertical li {
  float: none;
}
ul.sm a {
  white-space: nowrap;
}
ul.sm ul a,
ul.sm-vertical a {
  white-space: normal;
}
* html ul.sm-vertical li {
  float: left;
  width: 100%;
}
* html ul.sm-vertical ul li {
  float: none;
  width: auto;
}
*:first-child+html ul.sm-vertical>li {
  float: left;
  width: 100%;
}
ul.sm ul.sm-nowrap>li>a {
  white-space: nowrap;
}
ul.sm:after {
  content: "\00a0";
  display: block;
  height: 0;
  font: 0/0 serif;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
* html ul.sm {
  height: 1px;
}
*:first-child+html ul.sm {
  min-height: 1px;
}
ul.sm li *,
ul.sm li *:before,
ul.sm li *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
ul.sm {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* Menu box
===================*/
.logoset {
	width:80%;
	display:inline-block
}

.fullwidth {
	max-width: 100%;
}

.menu-trigger {
  display: none;
}
.menu-trigger a i {
  color: #eaeaea;
  font-size: 28px;
  padding-top:10px
}
.topmenu li > a {
  display: block;
  position: relative;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  display: block;
  height: 100%;
  color: #fff;
  font-size: .85em;
  line-height: 3.65em;
  padding-left: .85em;
  padding-right: .85em;
  text-transform: uppercase;
  font-family:"Roboto",sans-serif;
}
.topmenu li:hover > a,
.topmenu li > a.active {
  color: #982420;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease
}
.topmenu ul {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
/* Sub menu indicators
===================*/
.topmenu ul.menu-submenu {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
.topmenu a span.sub-arrow {
  float: right
}
.topmenu ul a span.sub-arrow {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.topmenu ul a {
  font-size: 1em;
  white-space: nowrap;
  float: none;
  text-transform: none;
  padding: .75em 1em;
  height: auto;
  line-height: 1;
  color: #222222;
  text-shadow: none;
  font-family:"Roboto",sans-serif;
}
.topmenu ul a:hover {
  background: #982420;
  color: #FFF
}
.topmenu ul a.active {
  box-shadow: none;
  background: #F64243;
  color: #FFF
}
#gridview {
}

#listview section {
  margin-bottom: 2em;
  position: relative;
}

#listview section:last-child {
  margin-bottom: 0;
}

#listview section .corporato.tabular.segment aside.top {
  width: 250px
}

#listview section .corporato.tabular.segment aside.top.small {
  width: 150px
}


section.gridmode .inner,
section.listmode .inner {
	
}

.inner img {
  width: 60px!important;
  float: left;
  border: 4px solid #F2A35D;
  margin-right: 10px;
  padding: 1px
}


section.gridmode {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section.gridmode .gridwrap {
  	background-color: #fff;
  	overflow: hidden;
  	position: relative;
  	-moz-backface-visibility: hidden;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
	width:100%;
	padding:0!important
}

section.gridmode .gridwrap img {
	width:100%;
	padding:0!important
}

/* Grid homepage hover effect */
section.gridmode .gridwrap .overlay {
  bottom: 0;
  height: 0;
  opacity: .85;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  width: 0;
}
section.gridmode .gridwrap:hover .overlay {
  border: 800px solid #222;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
section.gridmode .gridwrap .corner-overlay-content {
  bottom: 15px;
  color: #222;
  position: absolute;
  right: 15px;
  color:#fff;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
section.gridmode .gridwrap:hover .corner-overlay-content {
  opacity: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
section.gridmode .gridwrap .overlay-content {
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
section.gridmode .gridwrap .overlay-content h2 {
  border-bottom: 1px solid #982420;
  font-family:"Roboto",sans-serif;
  padding: 0 0 .5em;
  color:#eaeaea
}
section.gridmode .gridwrap:hover .overlay-content {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
section.gridmode .gridwrap .inner > a {
  text-align: center;
  display: block;
}

section.gridmode img {
	border:5px solid #fff
}

section.gridmode h4 {
  margin-top: 0;
  font-size: 1rem;
  padding: 0 0;
  font-family:"Roboto",sans-serif;
}
section.listmode .inner {
  background: #fff;
}
section.gridmode .gridwrap .title,
section.listmode .title {
}
section.gridmode .gridwrap .price {
  font-family:"Roboto",sans-serif;
  padding-bottom: 0.5em
}
section.gridmode .footer {
  padding: 1em;
  border-left:1px solid #eaeaea;
  border-right:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
}
section.gridmode .footer a {
  font-family:"Roboto",sans-serif;
  color: #999;
}
section.listmode .footer a {
}
section.gridmode .footer span,
section.listmode .footer div.price {
  float: left;
}
section.listmode .footer div.price {
  margin-right: 2em;
  font-family:"Roboto",sans-serif;
  color: rgba(0, 0, 0, 0.75);
}
section.gridmode .footer a:hover,
section.listmode .title a:hover {
  color: rgba(0, 0, 0, 0.75);
}
section.listmode h4.title {
  font-family:"Roboto",sans-serif;
}
section.listmode .title a {
}
section.listmode .description {
  padding-right: 1em;
}
section.listmode .footer div.price {
  font-size: 1.5em;
  font-family:"Roboto",sans-serif;
}
/* == Loading == */
.loader:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.9) url(../images/loader-large.gif) no-repeat 50% 50%;
  visibility: visible;
  z-index: 5000;
}


#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.75);
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  opacity: 0.8;
  color: #fff;
}
#scrollUp:hover {
  background-color: #000;
}
#scrollUp:before {
  content: "\f077";
  display: inline-block;
  vertical-align: middle;
  font: 14px/18px 'Icons';
  color: #fff;
}
/* == Item Rating/Voting == */  
.rating-read b,
.rating-vote b {
  font-family: Icons;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  font-size: 1em;
  color: #7D7D7D;
  cursor: pointer
}
.rating-read b {
  cursor: default
}
.rating-read b:before,
.rating-vote b:before {
  content: "\f005";
  padding-right: 4px;
  color: #717171
}
.rating-read b.rated:before,
.rating-vote b:hover:before,
.rating-vote b.rated:before {
  content: "\f005";
  color: #f4bf1e;
  transition: color .2s;
  -o-transition: color .2s;
  -ms-transition: color .2s;
  -moz-transition: color .2s;
  -webkit-transition: color .2s
}
.rating-vote b.rated:hover:before {
  color: #FCC44D
}
.rating-read i,
.rating-vote i {
  padding-left: 5px;
  font-size: 12px!important
}
.rating-vote {
  display: block;
}
.rating-vote b,
.rating-vote.small b {
  font-size: 16px;
  margin-right: 0.3em
}
.rating-vote.small b {
  font-size: 1.2em;
}
.voting {
  display: inline-block;
  background: #404040;
  border-radius: 4px;
}
.voting b {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  display: inline-block;
  padding-left: 5px
}
.voting a {
  display: inline-block;
  padding: 7px 15px;
}
.voting i {
  font-size: 1em!important;
  color: #FCC44D
}
.voting a.vote-up > i {
  color: #92CF5C
}
.voting a.vote-up:hover {
  background: #92CF5C;
  border-radius: 3px 0 0 3px
}
.voting a.vote-down:hover {
  background: #FCC44D;
  border-radius: 0 3px 3px 0
}
.voting a.vote-up:hover > i,
.voting a.vote-down:hover > i {
  color: #fff;
}
#suggestions {
  position: absolute;
  width: 100%;
  z-index: 100
}
#search-results {
  background-color: #f8f8f8;
  border:1px solid #e8e8e8;
}

#search-results a {
  display: block;
  padding: .5em;
  text-shadow: none;
  box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1);
}
/* == Audio Player == */  
.audioplayer {
  height: 2.5em;
  color: #fff;
  border: 1px solid #222;
  position: relative;
  z-index: 1;
  background: #222;
}
.audioplayer-mini {
  width: 2.5em;
  margin: 0 auto;
}
.audioplayer > div {
  position: absolute;
}
.audioplayer-playpause {
  width: 2.5em;
  height: 100%;
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 2;
  top: 0;
  left: 0;
}
.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
  border-right: 1px solid #555;
  border-right-color: rgba( 255, 255, 255, .1 );
}
.audioplayer-mini .audioplayer-playpause {
  width: 100%;
}
.audioplayer-playpause:hover,
 .audioplayer-playpause:focus {
  background-color: #222;
}
.audioplayer-playpause a {
  display: block;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-right: none;
  border-left-color: #fff;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5em 0 0 -0.25em;
}
.audioplayer-playing .audioplayer-playpause a {
  width: 0.75em;
  height: 0.75em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.375em 0 0 -0.375em;
}
.audioplayer-playing .audioplayer-playpause a:before,
 .audioplayer-playing .audioplayer-playpause a:after {
  width: 40%;
  height: 100%;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 0;
}
.audioplayer-playing .audioplayer-playpause a:before {
  left: 0;
}
.audioplayer-playing .audioplayer-playpause a:after {
  right: 0;
}
.audioplayer-time {
  width: 4.375em;
  height: 100%;
  line-height: 2.375em;
  text-align: center;
  z-index: 2;
  top: 0;
}
.audioplayer-time-current {
  border-left: 1px solid #111;
  border-left-color: rgba( 0, 0, 0, .25 );
  left: 2.5em;
}
.audioplayer-time-duration {
  border-right: 1px solid #555;
  border-right-color: rgba( 255, 255, 255, .1 );
  right: 2.5em;
}
.audioplayer-novolume .audioplayer-time-duration {
  border-right: 0;
  right: 0;
}
.audioplayer-bar {
  height: 0.875em;
  background-color: #222;
  cursor: pointer;
  z-index: 1;
  top: 50%;
  right: 6.875em;
  left: 6.875em;
  margin-top: -0.438em;
}
.audioplayer-novolume .audioplayer-bar {
  right: 4.375em;
}
.audioplayer-bar div {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.audioplayer-bar-loaded {
  background-color: #333;
  z-index: 1;
}
.audioplayer-bar-played {
  background: #f64243;
  z-index: 2;
}
.audioplayer-volume {
  width: 2.5em; /* 40 */
  height: 100%;
  border-left: 1px solid #111;
  border-left-color: rgba( 0, 0, 0, .25 );
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 2;
  top: 0;
  right: 0;
}
.audioplayer-volume:hover,
 .audioplayer-volume:focus {
  background-color: #222;
}
.audioplayer-volume-button {
  width: 100%;
  height: 100%;
}
.audioplayer-volume-button a {
  width: 0.313em;
  height: 0.375em;
  background-color: #fff;
  display: block;
  position: relative;
  z-index: 1;
  top: 40%;
  left: 35%;
}
.audioplayer-volume-button a:before,
 .audioplayer-volume-button a:after {
  content: '';
  position: absolute;
}
.audioplayer-volume-button a:before {
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-left: none;
  border-right-color: #fff;
  z-index: 2;
  top: 50%;
  right: -0.25em;
  margin-top: -0.5em;
}
.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
  width: 0.313em;
  height: 0.313em;
  border: 0.25em double #fff;
  border-width: 0.25em 0.25em 0 0;
  left: 0.563em;
  top: -0.063em;
  -webkit-border-radius: 0 0.938em 0 0;
  -moz-border-radius: 0 0.938em 0 0;
  border-radius: 0 0.938em 0 0;
  -webkit-transform: rotate( 45deg );
  -moz-transform: rotate( 45deg );
  -ms-transform: rotate( 45deg );
  -o-transform: rotate( 45deg );
  transform: rotate( 45deg );
}
.audioplayer-volume-adjust {
  height: 6.25em;
  cursor: default;
  position: absolute;
  left: 0;
  right: -1px;
  top: -9999px;
  background: #222;
  background: -webkit-gradient( linear, left top, left bottom, from( #444 ), to( #222 ) );
  background: -webkit-linear-gradient( top, #444, #222 );
  background: -moz-linear-gradient( top, #444, #222 );
  background: -ms-radial-gradient( top, #444, #222 );
  background: -o-linear-gradient( top, #444, #222 );
  background: linear-gradient( top, #444, #222 );
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
  opacity: 0;
}
.audioplayer-volume:hover .audioplayer-volume-adjust {
  top: auto;
  bottom: 100%;
}
.audioplayer-volume-adjust > div {
  width: 40%;
  height: 80%;
  background-color: #222;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 30% auto 0;
}
.audioplayer-volume-adjust div div {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #007fd1;
}
.audioplayer-novolume .audioplayer-volume {
  display: none;
}
.audioplayer-play,
 .audioplayer-pause,
 .audioplayer-volume a {
  -webkit-filter: drop-shadow( 1px 1px 0 #000 );
  -moz-filter: drop-shadow( 1px 1px 0 #000 );
  -ms-filter: drop-shadow( 1px 1px 0 #000 );
  -o-filter: drop-shadow( 1px 1px 0 #000 );
  filter: drop-shadow( 1px 1px 0 #000 );
}
.audioplayer-bar,
 .audioplayer-bar div,
 .audioplayer-volume-adjust div {
}
.audioplayer-bar,
 .audioplayer-volume-adjust > div {
}
.audioplayer-volume-adjust div div,
 .audioplayer-bar-played {
}
.audioplayer-volume-adjust {
  -webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
  -moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
  box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
}
.audioplayer *,
 .audioplayer *:before,
 .audioplayer *:after {
  -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  transition: color .25s ease, background-color .25s ease, opacity .5s ease;
}
#faq a.expand_all {
  margin-bottom: 2em;
  float: right
}
#faq section {
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1);
}
#faq section:last-child {
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1), inset 0 1px 0 0 rgba(0,0,0,0.1);
}
#faq section.active {
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
}
#faq section > h4 {
  font-size: 1.2em;
  font-weight: 300;
  padding: .65em;
  margin: 0;
  padding-left: 0;
  cursor: pointer;
}
#faq section > h4 > i.icon {
  color: #13566F;
  margin-right: 1em;
}
#faq section .answer {
  padding: 1em 0;
  display: none
}

@media screen and (min-width:650px) and (max-width:1024px) {
.padded {
  padding-left: .5em;
  padding-right: .5em;
}
}

@media only screen and (max-width: 768px) {

.slidertext {
    box-sizing: border-box;
    max-width: 100%;
	margin:0 auto;
    position: relative;
    z-index: 12;
    width: 100%;
    padding-top: 80px;  
}

#livesearch {
  float: none;
}
#livesearch.corporato.input{
  display:block
}
header {
  margin-top: 1em;
}
header .logo {
  float: none;
  margin-bottom: 0.5em;
  display:block;
}

header .logo img {
	height:100px;
	width:100px
}

#topside {
	border-bottom:1px solid #e8e8e8;
	background:#f8f8f8!important
}

#topmenu {
  float: none;
  margin-right: 0;
  padding-left: 1em;
  height: auto;
  line-height: auto;
  padding: 0;
}
#topmenu:before {
  display: none
}
.menu-trigger {
  display: block;
  float:right
}
header .submenu {}

nav {
  display: none;
}
.padded {
  padding-left: .5em;
  padding-right: .5em;
}
a.home {
  display: none
}
ul.topmenu {
  width: auto;
}
ul.topmenu ul {
  display: none;
  position: static;
  top: auto!important;
  left: auto!important;
  margin-left: 0 !important;
  margin-top: 0!important;
  width: auto !important;
  min-width: 0 !important;
  max-width: none !important;
}
ul.topmenu>li {
  float: none;
}
ul.topmenu>li>a,
ul.topmenu ul.sm-nowrap>li>a {
  white-space: normal;
}
ul.topmenu iframe {
  display: none;
}
/* Menu box
===================*/
.topmenu ul.menu-submenu {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.topmenu li > a {
  display: block;
  text-decoration: none;
  text-align: left;
  font-weight: 700;
  height: auto;
  line-height: auto;
  box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.4);
}
.topmenu li a > i {
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
}
.topmenu li > a strong {
  display: inline-block;
  font-weight: 500;
  font-size: .95em;
}
.topmenu li > a small {
  display: none;
}
.topmenu a span.sub-arrow {
}
.topmenu ul a span.sub-arrow,
.topmenu-vertical a span.sub-arrow {
}
.topmenu li:hover > a {
  background: #f64243;
  color: #fff;
  text-shadow: none
}
.topmenu li > a.active,
.topmenu > li:first-child,
.topmenu li:hover > a {
  box-shadow: none
}
.topmenu a.highlighted span.sub-arrow {
  display: none;
}
.topmenu li {
  border-left: 0;
}
.topmenu li:first-child {
  border-top: 0;
}
#footer .links {
  float: none!important
}
.corporato.tabs li {
  float: none;
}
.corporato.tabs li a.active,
 .corporato.tabs li a.active:hover {
  border-color: #F4BF1E;
}

.topmenuwrap {
	padding:1em .8em;
	background:#f8f8f8;
	border-bottom:1px solid #eaeaea;
	display:block;
	margin-top:-1em!important
}

.corporato.divided.horizontal.list {
	padding:2em 0;
}

.corporato.horizontal.list > .item {
    display: block;
    margin-left: 1em;
    font-size: 1rem;
	border-bottom:1px solid #eaeaea;
}

.corporato.divided.horizontal.list > .item {
  border-top: none;
  border-bottom:1px solid #eaeaea;
  border-left: 0;
  margin: 0;
  padding-left: .75em;
  padding-right: .75em;
  line-height: 0.6;
}

.corporato.horizontal.divided.list > .item:first-child {
  padding-left: .75em;
}

.corporato.divided.horizontal.list > .item:last-child {
	margin-bottom:2em
}

.nav {
  margin-bottom: 2em;
}


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
div#slider figure img { width: 100%; min-height:100%; float: left;}
div#slider figure { 
  position: relative;
  width: 500%;
  height:auto;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
.topmenuwrap {
	padding:1em .8em;
	background:#f8f8f8;
	border-bottom:1px solid #eaeaea;
	display:block;
	margin-top:-1em!important
}

.corporato.divided.horizontal.list {
	padding:2em 0
}

.corporato.horizontal.list > .item {
    display: block;
    margin-left: 1em;
    font-size: 1rem;
	border-bottom:1px solid #eaeaea;
}

.corporato.divided.horizontal.list > .item {
  border-top: none;
  border-bottom:1px solid #eaeaea;
  border-left: 0;
  margin: 0;
  padding-left: .75em;
  padding-right: .75em;
  line-height: 0.6
}
.corporato.horizontal.divided.list > .item:first-child {
  padding-left: .75em;
}

.nav {
  margin-bottom: 2em;
}

.av {
	width:20%
}

.no-push {
	float:none!important;
	display:block
}

#listview section .corporato.tabular.segment aside.top {
	width:100%
}




}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */


 
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
div#slider figure img { width: 100%; min-height:100%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  height:auto;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

.topmenuwrap {
	padding:1em .8em;
	background:#f8f8f8;
	border-bottom:1px solid #eaeaea;
	display:block;
	margin-top:-1em!important
}

header {
	margin-top:0
}

.av {
	width:20%
}

}

